@using RX108_Data
@model PagingList<DocTag>

@{
    ViewData["Title"] = "DocTag List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? currentSort = ViewBag.CurrentSort == null ? 11 : ViewBag.CurrentSort;
    if (currentSort == null)
    {
        currentSort = 11;
    }

}

<link href="~/lib/Fontawesome/css/all.css" rel="stylesheet" />

<div class="@TempData["Class"]">
    @TempData["Msg"]
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Doc Tag List</a>
    </div>
    <div class="form-inline my-2 my-lg-0 float-right">
        <a href="../BankingEmployeeMaster/DocTagIndex" class="btn btn-outline-info pull-right">
            <i class="fa fa-plus"></i>
            Add New
        </a>
    </div>
</nav>
<br />

<script src="~/lib/jquery/dist/jquery.js"></script>

<div class="form-inline my-2 my-lg-0 float-right">

    @if (TempData["MSG"] != null)
    {
        <div class="@TempData["Class"] fade in">
            <button class="close" data-dismiss="alert">
                ×
            </button>
            @{ if (@TempData["Class"].ToString() == "alert alert-success")
                {
                    <i class="fa-fw fa fa-check"></i>
                    <strong>Success</strong>
                }
                else
                {
                    <i class="fa-fw fa fa-times"></i>
                    <strong>Error!</strong>
                }
            }
            @TempData["MSG"]
        </div>
    }

    @using (Html.BeginForm("DocTagList", "BankingEmployeeMaster", FormMethod.Get))
    {
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control search-text", @placeholder = "Search.." })
        <input class="btn btn-info" type="submit" value="Search" />
    }
</div>

<br />
<br /><p></p>

<div class="table-responsive">

    <table class="table table-bordered">
        <tr>
            <th>#</th>
            @*<th>SrNo</th>*@
            <th>
                @{
                    if (currentSort == 21)
                    {
                        @Html.ActionLink("Doc Tag Name", "DocTagList", new
                        {
                            sortField = "22",
                            currentSortField = ViewBag.SortField,
                            currentSortOrder = ViewBag.SortOrder,
                            currentFilter = ViewBag.CurrentFilter
                        })
                    }
                    else
                    {
                        @Html.ActionLink("Doc Tag Name", "DocTagList", new
                        {
                            sortField = "21",
                            currentSortField = ViewBag.SortField,
                            currentSortOrder = ViewBag.SortOrder,
                             currentFilter = ViewBag.CurrentFilter
                        })
                    }
                    if (currentSort == 21)
                    {
                        <i class="fa fa-sort-down"></i>}
                    else if (currentSort == 22)
                    {
                        <i class="fa fa-sort-up"></i>}
                    else
                    {
                        <i class="fa fa-sort"></i>
                    }
                }
            </th>
            <th>Actions</th>
        </tr>
        
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DisID)

                </td>
                @*<td>@Html.DisplayFor(modelItem => item.SrNo)</td>*@
                <td>@Html.DisplayFor(modelItem => item.DocTagName)</td>
                <td>
                    <a class="btn btn-primary" href="../BankingEmployeeMaster/DocTagIndex?SrNo=@item.SrNo">
                        <i class="fa fa-pencil-square-o"></i>
                    </a>
                    <a onclick="return confirm('Are you sure want to delete this record?');" class="btn btn-danger" href="../BankingEmployeeMaster/DocTagDelete?SrNo=@item.SrNo">

                        <i class="fa fa-trash-o"></i>
                    </a>
                </td>

            </tr>
        }
    </table>

    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        var totalPageNo = Model.TotalPageNo;
        var currentPageNo = Model.PageIndex;
    }
    <div class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-collapse" id="navbarTogglerDemo01">
            Total Records: <b>@Model.TotalRecords</b> |
            <span>
                Page No :<b>@currentPageNo</b> of <b>@totalPageNo</b>
            </span>
        </div>
        <div>
            <a asp-action="DocTagList"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNo="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default @prevDisabled">
                Previous
            </a>
            <a asp-action="DocTagList"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNo="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-default @nextDisabled">
                Next
            </a>
        </div>
    </div>
    <div style="text-align:right;padding:0;">

    </div>

</div>
