
@using System.Data
@using RX108_Data
@model district
@{
    ViewData["Title"] = "District";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="@ViewBag.Class">
    @ViewBag.Msg
</div>
<style>
    .error {
        color: red;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Add New District</a>
    </div>
    <form class="form-inline my-2 my-lg-0 float-right">
        <a href="../Master/DistrictList" class="btn btn-outline-info pull-right">
            <i class="fa fa-list"></i> Back To List
        </a>
    </form>
</nav>
<br />
@using (Html.BeginForm("District", "Master", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="container">
        <div class="form-group">
            @Html.HiddenFor(m => m.SrNo)
            <label class="control-label col-sm-3 ">Select State Name  </label>
            <div class="col-sm-3">
                @{
                    List<state> lst = new List<state>();
                    int total = 0, i = 1;
                    lst = state.GetAll("", 11, i, 5, ref total);
                    if (total > 5)
                    {
                        double pg = (double)total / 5;
                        int x = Convert.ToInt32(pg.ToString().Substring(pg.ToString().IndexOf('.') + 1));
                        if (x > 0)
                        {
                            x = x + 1;
                        }
                        if (x > 1)
                        {
                            while (x > 1)
                            {
                                i++;
                                lst.AddRange(state.GetAll("", 11, i, 5, ref total));
                                x--;
                            }
                        }
                    }
                    @Html.DropDownListFor(m => m.Mst_State_SrNo, new SelectList(lst, "SrNo", "StateName", ""), new { @class = "form-control" })
                }
            </div>

        </div>
        <div class="form-group">
            <label class="control-label col-sm-3 ">Enter District Name  </label>

            <div class="form-group col-sm-3">
                @Html.TextBoxFor(m => m.DistrictName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.DistrictName, "", new { @class = "error" })
            </div>
        </div>

        <div class="form-group col-sm-2">
            <input type="submit" name="submit" value="Save" id="Save" class="btn btn-success" />
        </div>
    </div>
    <br />
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>